<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/sephorastyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


</head>
<body>
	<div id="header">
		<div  class="topleft">
			<ul>
			<li><a href="index.html">MAKEUP</a>
				<ul> 
          <li> <a href="">Link1</a></li>
          <li> <a href="">Link2</a></li>
          <li> <a href="">Link3</a></li>
         </ul>
				</li>
				<li><a href="form">ACCOUNT</a><ul> 
            <li> <a href="">Link1</a></li>
            <li> <a href="">Link2</a></li>
            <li> <a href="">Link3</a></li>
          </ul>
				</li>
				<li><a href="#">BEAUTY INSIDER</a>
					<ul> 
            <li> <a href="">Link1</a></li>
            <li> <a href="">Link2</a></li>
            <li> <a href="">Link3</a></li>
          </ul>
				</li>
				<li><a href="free_samples">3 FREE SAMPLES</a>
					<ul> 
            <li> <a href="">Link1</a></li>
            <li> <a href="">Link2</a></li>
            <li> <a href="">Link3</a></li>
          </ul>
				</li>
			</ul>
		</div>
		<div class="topright">
				<ul >
					<li><a href="#">STORE</a></li>
					<li><a href="#">BASKET</a></li>
				</ul>
			</div>
		</div>

		<div>
			<a href="homepage">
			<img  id="logo" src="images/sephoralogo.png" >
			</a>
		</div>

<!-- 		Container item start here -->
	<div class="container">
		<div class="row">
		  <div class="col-md-3">
	  		<label><img src="images/image2.jpg"/><br>
	  		<input type="checkbox" name="" value=""></label><p>Giorgio Armani Luminous Silk Foundation in 5.5 - 0.03 oz</p></div>
		  <div class="col-md-3">
	  		<label><img src="images/image2.jpg"/><br>
	  		<input type="checkbox" name="" value="122614"></label><p>Estée Lauder Advanced Night Repair Synchronized Recovery Complex II - 0.05 oz</p></div>
		  <div class="col-md-3">
	 	 	<label><img src="images/image3.jpg"/><br>
	  		<input type="checkbox" name="" value="041615"></label><p>Buxom Show Some Skin Weightless Foundation in Tickle the Ivory, Dim The Light and Silky Negli-Beige</p></div>
		  <div class="col-md-3">
	 	 		<label><img src="images/image4.jpg"/><br>
	  		<input type="checkbox" name="" value="042315"></label><p>Clinique 3 Step System for Skin Type 1/2 - 0.05 oz each</p></div>
		</div>

		<div class="row">
		  <div class="col-md-3">
	  		<label><img src="images/image5.jpg"/><br>
	  		<input type="checkbox" name="" value="122614"></label><p>Cover FX Total Cover Cream Foundation in N20, N40, N60, and N100</p></div>
		  <div class="col-md-3">
	  		<label><img src="images/image6.jpg"/><br>
	  		<input type="checkbox" name="" value="122614"></label><p>Sephora Collection Instant Moisturizer - 0.06 oz</p></div>
		  <div class="col-md-3">
	 	 		<label><img src="images/image7.jpg"/><br>
	  		<input type="checkbox" name="" value="041615"></label><p>tarte TarteGuard Sunscreen Lotion Broad Spectrum SPF 30 - 0.05 oz</p></div>
		  <div class="col-md-3">
	 	 		<label><img src="images/image8.jpg"/><br>
	  		<input type="checkbox" name="" value="042315"></label><p>Chloé Eau de Parfum - 0.04 oz</p></div>
		</div>

		<div class="row">
		  <div class="col-md-3">
	  		<label><img src="images/image9.jpg"/><br>
	  		<input type="checkbox" name="" value="122614"></label><p>Tocca Margaux Eau de Parfum - 0.05 oz</p></div>
		  <div class="col-md-3">
	  		<label><img src="images/image10.jpg"/><br>
	  		<input type="checkbox" name="" value="122614"></label><p>Gucci Guilty Eau de Toilette - 0.06 oz</p></div>
		  <div class="col-md-3">
	 	 	<label><img src="images/image11.jpg"/><br>
	  		<input type="checkbox" name="" value="041615"></label><p>Ralph Lauren Polo Black Eau de Toilette - 0.05 oz</p></div>
		  <div class="col-md-3">
	 	 	<label><img src="images/image12.jpg"/><br>
	  		<input type="checkbox" name="" value="042315"></label><p>Guerlain Meteorites Baby Glow in 3 Medium - 0.05 oz</p></div>
		</div>
	</div>


	 <script>
        $(document).ready(function(){
          $('li').hover(function(){
            $(this).find('ul>li').stop().fadeToggle(300);
          });
        });
      </script>
</body>
</html>
